.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(93,108,147);
  background: linear-gradient(90deg, rgba(93,108,147,1) 18%, rgba(92,92,198,1) 39%, rgba(0,212,255,1) 89%);
}

img {
  box-shadow: 10px 10px 15px silver;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
